@model EditPersonViewModel;


<h1> Editing a Person</h1>


 
<form id="editPersonForm">
    <input type="hidden"   id="id" value="@Model.Id" />
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input class="form-control" id="nameInput" value="@Model.Name" />
    </div>
    <div class="form-group">
        <label for="lastNamesInput">Last Names</label>
        <input class="form-control" id="lastNamesInput" value="@Model.LastNames" />
    </div>
    <div class="form-group">
        <label for="dniInput">Dni</label>
        <input class="form-control" id="dniInput" value="@Model.Dni" />
    </div>
    <div class="form-group">
        <label for="addressInput">Address</label>
        <textarea class="form-control" id="addressInput">@Model.Address</textarea>
    </div>
    <div class="form-group">
        <label for="phoneInput">Phone</label>
        <input class="form-control" id="phoneInput" value="@Model.Phone" />
    </div>
    <div class="form-group">
        <label for="emailInput">Email</label>
        <input class="form-control" id="emailInput" value="@Model.Email" />
    </div>
    <button type="button" id="updatePersonButton" class="btn btn-primary">Save</button>
    <a href="/People" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts
{

    <script>
        $(document).ready(function () {
            $('#updatePersonButton').click(function (e) {
                e.preventDefault();
                 var personId = $('#id').val();
                // var url = window.location.pathname;
                // var personId = url.substring(url.lastIndexOf('/') + 1);
                //const personId = url.split('/').pop();
                var updatedPerson = {
                    Name: $('#nameInput').val(),
                    LastNames: $('#lastNamesInput').val(),
                    Dni: $('#dniInput').val(),
                    Address: $('#addressInput').val(),
                    Phone: $('#phoneInput').val(),
                    Email: $('#emailInput').val()
                };
                $.ajax({
                    url: 'https://localhost:7012/People/UpdatePerson/' + personId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(updatedPerson),
                    success: function () {
                        alert('Person updated successfully');
                        window.location.href = '/People';
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>


}

 

