@model General;

@* @{
    var peopleFromViewBag = ViewBag.PeopleFromViewBag as List<Person>;
} *@
<h1> Persons</h1>
@* <h2>
    @ViewBag.Header; 
</h2> *@
<a class="btn btn-primary" asp-action="Create">Add</a>
<table class="table table-bordered">
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th> 
        <th>Actions</th>
        </tr>
    </thead>
    @if (Model.People == null || !Model.People.Any())
    {
        <tr>
            <td colspan="4">No Records found</td> 
        </tr>
    }
    else
    {


        @*  foreach (var item in peopleFromViewBag)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.LastNames</td>
                <td> </td>
            </tr>
        } *@

        foreach (var item in Model.People)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.LastNames</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" > Edit</a>
                    <form asp-action="Delete">
                        <input asp-for="@item.Id" id="peopleId" name="peopleId" type="hidden" />
                       @*  <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> Delete</a> *@
                        <input class="btn btn-danger" type="submit" value="Delete"
                               onclick="return confirm('are you sure than you want to delete this?')" />

                    </form>
                    </td>
            </tr>
        }
        
    }
</table>

